@charset "UTF-8";


.middle {
	text-align : center;
}

.patient_manage_button {
	display: inline-block; /* margin: 0 5px; */
		margin: 20px;
	margin-left: 900px;
	
}

/* .regi {
	display: inline-block; margin: 0 5px;
	margin: 20px;
	margin-left: 900px; */

/* 
	background-color: white;
	border: 1px solid black;
	margin: 20px;
	margin-right: 900px;
	text-decoration: none;
	color: black;
 */


table {
	border-collapse : collapse;
}

/* 
	.mainContents{
		min-width: 1000px;
		background-color: white;
		display: inline-block;
		height: 100%;
		width: 100%;
		position: relative;
	}
	.resultBox {
		width : 90%;
		height: 90%;
		float: left;
		margin : 5%;
		margin-top : 3%;
		position: relative;
		border: 3px solid lightsteelblue;
		overflow: scroll;
		overflow-x:hidden;
		text-align: center;
	}
	select {
		font: initial;
		width: 50%;
	}
	.resultBox table, .resultBox td, .resultBox th {
		min-width:100%;
		border: 1px solid #BDBDBD;
		border-collapse:collapse;
		font-size: 22pt;
		width: auto;
		text-align: center;
	} */
	tr:hover {
		background-color: #DDDDDD;
	}
	tr.diaReg{
		font-weight: bold;
		height: 100px;
			font-size: xx-large;
	}
	tr.diaReg:hover {
		background-color: lightsteelblue;
		cursor:pointer;
		color: white;
	}
	table.inf  {
		height: 100%;
	}
