@charset "UTF-8";

	.mainContents{
		min-width: 1000px;
		background-color: white;
		display: inline-block;
		height: 100%;
		width: 100%;
		position: relative;
	}
	.leftContents {
		width : 43%;
		height: 90%;
		float: left;
		margin-top: 2%;
		margin-left: 5%;
		margin-bottom: 5%;
		position: relative;
	}
	.searchBox {
		border: 3px solid lightsteelblue;
		height: 29%;
		margin-bottom: 1%;
	}
	.searchResult {
		border: 3px solid lightsteelblue;
		height: 70%;
		overflow: scroll;
	}
	.patientInf {
		border: 3px solid lightsteelblue;
		width: 43%;
		height: 90%;
		float: right;
		margin-top: 2%;
		margin-right: 5%;
		margin-bottom: 5%;
		overflow: scroll;
	}
	td select {
		font: initial;
	}
	.searchResult table, .searchResult td, .searchResult th {
		min-width:100%;
		border: 1px solid black;
		border-collapse:collapse;
		font-size: 22pt;
		width: auto;
	}